#hero {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.center {
  position: absolute;
  top: +40%;
  right: +50%;
  transform: translate(+50%, -50%);
}
#past {
  height: 100vh;
}

.banner {
  height: 50%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background: white;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
